# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Dataset
combined_data.csv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# NLTK Data
nltk_data/

# Logs
*.log